  .body-background{
    background-image: url("https://static.ageofempires.com/aoe/wp-content/uploads/2020/10/CraigMullens_1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Alfa Slab One", "sans-serif";
  }
  
  label{
    font-weight: bold;
    font-size: 1.1em;
  }

  .box-shadow{
    border-radius: 25px;
    box-shadow: 25px -43px 2em rgba(0,0,0,0.6);
  }
  
  .form-background {
    background-image: url("https://media.istockphoto.com/id/996563832/photo/the-old-paper.jpg?s=612x612&w=0&k=20&c=_V3cw9-E7svcZOezzKCC3caBJT8XMLGeI7gjiiEGr64=");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 25px 25px;
    margin-bottom: 15px;
    border: 1px solid black;
    height: 30vh;
  }
  
  input{
    border: 1px solid black;
  }
  
  .errorMessage{
    background-image: url("https://img.freepik.com/free-photo/walnut-wood-textured-background-design_53876-143036.jpg");
    color: rgb(214, 4, 14);
    border: 1px solid black;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 5px;
  }
  
  .title-background{
    background: rgb(2,0,36);
    background: linear-gradient(34deg, rgba(2,0,36,1) 8%, rgba(3,15,99,1) 42%, rgba(75,83,180,1) 76%, rgba(3,15,99,1) 97%);
    height: 19vh;
    border-radius: 25px 25px 0 0;
  }
  
  .title{
    margin-top: -65px;
    font-size: 13em;
    font-weight: bold;
    font-family: "Alfa Slab One", "sans-serif";

    background: url("https://www.shutterstock.com/image-photo/red-paint-texture-on-background-260nw-359398205.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip:text;
    background-clip:text;
    -webkit-text-stroke: 2px lightgray;
  }

  .subtitle{
    margin: 0;
    letter-spacing: 20px;
    padding-left: 10px;
    font-weight: bold;
    font-family: "Alfa Slab One", "sans-serif";
    background: linear-gradient(342deg, rgba(24,24,24,1) 0%, rgba(133,133,133,1) 49%, rgba(24,24,24,1) 100%);
    color: #D2B381;
    text-shadow: 0 0 10px #fff;
  }